body {
  padding: 0;
  margin: 0;
}

#content {
  padding: 30px;
}

h1 {
  text-align: center;
  margin-top: 0;
  cursor: pointer;
}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
}

#list .item {
  display: flex;
}

#list .item .index {
  width: 50px;
}

.btns {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

button {
  border: none;
  background: #000;
  color: #fff;
  padding: 12px 20px;
  line-height: 1;
  cursor: pointer;
  border-radius: 10px;
}

#generating {
  display: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  line-height: 1;
}

#preview {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  overflow: auto;
}

#preview h5 {
  color: #fff;
}

#preview img {
  height: 80vh;
}
