body {
  padding: 30px;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 0;
  cursor: pointer;
}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
}

.item {
  display: flex;
}

.item .index {
  width: 50px;
}
