body {
  padding: 30px;
  margin: 0;
}

body::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  text-align: center;
  margin-top: 0;
  cursor: pointer;
}

li {
  width: 120px;
  float: left;
}
